{% extends 'navbar/layout.html.twig' %}

{% block title %}Bienvenu sur Francecam
{% endblock %}

{% block content %}
	<div id="container">

		{% include "includes/flashes/_flash_message.html.twig" %}

		<!-- TITRE ET BARRE DE RECHERCHE -->

		<div class="searchBlock">
			<div
				class="searchCenter">

				<!-- TITRE -->

				<div class="logoSearch">
					<img src="{{asset('build/images/FRANCECAM-logo.png')}}" alt="logo du site Francecam">
					<h1>Francecam</h1>
				</div>

				<div class="logline">
					<h2>La base de données des caméras du cinéma francophone</h2>
				</div>

				<div
					class="search">

					<!-- BARRE DE RECHERCHE -->

					<div class="searchBarCenter">
						{{form(form)}}
							{# <div class="formTop">
														<label for="">Rechercher</label>
													</div>
													<input type="search" placeholder="Un film, une caméra..."> #}
						</div>
					</div>
				</div>
			</div>

			<!-- DERNIERS AJOUTS -->

			<div class="latest">
				<h2>Dernières caméras</h2>
				<div class="homeCameraList">
					{% include "includes/film_includes/_homeCameraList.html.twig" %}
				</div>
				<h2>Derniers films</h2>
				<div class="homeCameraList">
					{% include "includes/film_includes/_homeFilmList.html.twig" %}
				</div>
			</div>
		</div>
	{% endblock %}
