{% extends 'navbar/layout.html.twig' %}

{% block title %}Bienvenu sur Francecam
{% endblock %}

{% block content %}
	<div
		class="container">

		<!-- TITRE ET BARRE DE RECHERCHE -->

		<div class="searchBlock">
			<div
				class="searchCenter">
				<!-- TITRE -->
				<div class="logoSearch">
					<img class="logoHome" src="{{asset('build/images/FRANCECAM-logo.png')}}" alt="logo du site Francecam">
					<div class="titreHome">
						<h1>Francecam</h1>
					</div>

				</div>

				<div class="logline">
					<h2>La base de données des caméras du cinéma francophone</h2>
				</div>

				<div
					class="search">
					<!-- BARRE DE RECHERCHE -->
					<div class="searchBarCenter">
						<div class="formTop">
							<label for="">Rechercher</label>
						</div>
						{% include "includes/_searchtop.html.twig" %}
					</div>
				</div>
			</div>
		</div>

		<!-- DERNIERS AJOUTS -->

		<div class="latest">
			<div class="flexLatest">
				<div class="homeCameraList">
					<h2>Dernières caméras</h2>
					<div class="tableau">
						{% include "modele/_modele_list.html.twig" %}
					</div>
				</div>
			</div>
			<div class="flexLatest">
				<div class="homeFilmList">
					<h2>Derniers films</h2>
					{% include "/film/_home_film.html.twig" %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
