{% extends 'navbar/layout.html.twig' %}

{% block title %}Francecam | Lien de réinitialisation
{% endblock %}

{% block content %}
	<div class="container">
		<p>
			Cliquez le lien qui vous a été envoyé.
																		        Ce lien expirera dans
			{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
		</p>
		<p>Si vous ne recevez pas cet Email, vérifiez dans votre dossier spam ou
			<a href="{{ path('app_forgot_password_request') }}">essayez à nouveau</a>.</p>
	</div>
{% endblock %}
