{% extends 'navbar/layout.html.twig' %}

{% block title %}Changer votre mot de passe
{% endblock %}

{% block content %}
	<div id="container">
		<h1>Changer votre mot de passe</h1>

		{{ form_start(resetForm) }}
		{{ form_row(resetForm.plainPassword) }}
		<button class="btn btn-primary">Changer votre mot de passe</button>
		{{ form_end(resetForm) }}
	</div>
{% endblock %}
