{% extends 'navbar/layout.html.twig' %}

{% block title %}Francecam | Résultats de recherche
{% endblock %}

{% block content %}
	<div class="container">
		<div class="resultSearch">
			<h1>Résultats de recherche</h1>
			{# Si pas de films et pas de modèles #}
			{% if films | length == 0 and modele| length == 0 %}
				<div>
					<h2>Pas de résultats</h2>
				</div>
				{# sinon #}
			{% else %}
				{# Si le résultat de recherche de film est inf ou égal à 1, on affiche #}
				{% if films | length >= 1 %}
					<div class="resultContainer">
						<div class="resultTitle">
							<h2>Films</h2>
						</div>
						<div class="tableau">

							{% include "film/_film_list.html.twig" %}</div>
					</div>
				{% endif %}
				{# Si le résultat de modèle de caméra est inf ou égal à 1 #}
				{% if modele | length >= 1 %}
					<div class="resultContainer">
						<div class="resultTitle">
							<h2>Cameras</h2>
						</div>
						<div class="tableau">
							{% include "modele/_modele_list.html.twig" %}</div>
					</div>
				{% endif %}
			{% endif %}
		</div>
	</div>
{% endblock %}
