{% extends 'base.html.twig' %}

{% block title %}Edit Modele{% endblock %}

{% block body %}
    <h1>Edit Modele</h1>

    {{ include('modele/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('modele_index') }}">back to list</a>

    {{ include('modele/_delete_form.html.twig') }}
{% endblock %}
