{% extends 'navbar/layout.html.twig' %}

{% block content %}
	<div id="container">

		<div class="allFilmsTable js-filter">
			<div class="searchList">
				{% include "modele/_modele_list_filter.html.twig" with {form: form} only %}
			</div>
			<div
				class="sorting js-filter-sorting">{# {% include "film/_sorting.html.twig" %} #}
			</div>
			<div class="showList js-filter-content">
				{% include "modele/_modele_list.html.twig" %}
				<div class="paginate js-filter-pagination">
					{{knp_pagination_render(modele)}}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
