{% extends 'base.html.twig' %}

{% block title %}New Modele{% endblock %}

{% block body %}
    <h1>Create new Modele</h1>

    {{ include('modele/_form.html.twig') }}

    <a href="{{ path('modele_index') }}">back to list</a>
{% endblock %}
