{% apply inky_to_html|inline_css(source('@styles/email.css')) %}
<container>

	<row class="titre">
		<columns>
			<center>
				<img src="{{ email.image('@images/FRANCECAM-logo-sm.png') }}" alt="logo du site Francecam">
				<h1>Francecam</h1>
			</center>

		</columns>
	</row>

	<row class="texte">
		<columns>
			<p>
				<strong>{{film.user.name}}</strong>
				vient d'ajouter:
				<strong>{{film.title}}</strong>
			</p>

		</columns>
	</row>
	<row class="lien">
		<columns>
			<a href="{{ absolute_url(path('film_show', {'slug': film.slug})) }}">Voir la page du film</a>
		</columns>
	</row>

</container>
{% endapply %}
