{% extends 'navbar/layout.html.twig' %}

{% block title %}Francecam | Modifier
	{{film.title}}
{% endblock %}

{% block content %}
	<div class="container">
		<h1>Modifier"{{film.title}}"</h1>
		<div class="formulaire">
			{{ include('film/_form.html.twig', {'button_label': 'Modifier'}) }}
		</div>

	</div>

{% endblock %}
