{% extends 'navbar/layout.html.twig' %}

{% block content %}
	<div id="container">


		<div class="tableauFilm">

			<div class="searchList">{% include "film/_film_list_filter.html.twig" with {form: form} only %}
			</div>
			<div
				class="showList">
				{# <h1>Liste des films</h1> #}
				{% include "film/_film_list.html.twig" %}
			</div>

		</div>
	</div>
{% endblock %}
