{% extends 'navbar/layout.html.twig' %}

{% block title %}Ajoutez un film
{% endblock %}

{% block content %}
	<div id="container">


		{{ include('film/_form.html.twig') }}

		<a href="{{ path('film_index') }}">back to list</a>
	</div>
{% endblock %}


{% block javascripts %}
	<script></script>
{% endblock %}
