{% extends 'navbar/layout.html.twig' %}

{% block title %}Francecam | Ajouter un film
{% endblock %}

{% block content %}
	<div class="container">
		<h1>Nouveau film</h1>

		{{ include('film/_form.html.twig') }}

		<a href="{{ path('films') }}">Retour à la liste de films</a>
	</div>
{% endblock %}
