{% extends 'navbar/layout.html.twig' %}

{% block title %}Ajouter un film
{% endblock %}

{% block content %}
	<div class="container">
		<h1>Nouveau film</h1>
		<div class="formulaire">
			{{ include('film/_form.html.twig') }}
		</div>
	</div>
{% endblock %}
