{% extends 'navbar/layout.html.twig' %}

{% block content %}
	<div class="container">
		<div class="logoBlock">
			<div class="searchCenter">
				<div class="logoSearch">
					<img class="logoHome" src="{{asset('build/images/FRANCECAM-logo.png')}}" alt="logo du site Francecam">
					<div class="titreHome">
						<h1>Francecam</h1>
					</div>
				</div>
				<div class="logline">
					<h2>Merci. Votre nouvel est en attente de validation</h2>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
