<div class="footer">
	<div class="copyright">
		<p>© Yann Gendreau
			{{ "now"|date("Y") }}
		</p>
	</div>

	<div class="footerContainer">
		<a href="{{path('contact')}}">Contact</a>
		<a href="">CGU</a>
		<a href="{{path('about')}}">à propos</a>

	</div>

</div>
