<div class="footer">
	<div class="copyright">
		<p>© Yann Gendreau
			{{ "now"|date("Y") }}
		</p>
	</div>
	<div class="infos">
		<div class="footerContainer">
			<a href="{{path('contact')}}">Contact</a>
			<a href="{{path('cgu')}}">CGU</a>
			<a href="{{path('about')}}">À propos</a>

		</div>
	</div>
</div>
