{% apply inky_to_html|inline_css(source('@styles/email.css')) %}
<container>

	<row class="titre">
		<columns>
			<center>
				<img src="{{ email.image('@images/FRANCECAM-logo-sm.png') }}" alt="logo du site Francecam">
				<h1>Francecam</h1>
			</center>

		</columns>
	</row>

	<row class="texte">
		<columns>
			<p>
				<strong>{{contact.nom}}</strong>
				avec l'email
				<strong>{{contact.email}}</strong>
				vient d'envoyer le message suivant :
			</p>

		</columns>
	</row>

	<row class="texte">
		<columns>
			<p>{{contact.message}}</p>
		</columns>
	</row>

</container>
{% endapply %}
