<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="description" content="Francecam, la base de données des caméras du cinéma francophone. Vous pouvez connaitre les caméras utilisées sur les tournages du cinéma français, et découvrir leurs fiches techniques.">
		<title>
			{% block title %}Bienvenue sur Francecam
			{% endblock %}
		</title>

		<!-- TARTEAUCITRON COOKIE -->
		<script type="text/javascript" src="{{ asset('../tarteaucitron/tarteaucitron.js') }}"></script>
		{#  Initialization of Tarteaucitron before all scripts #}
		<script type="text/javascript">
			tarteaucitron.init({
"privacyUrl": "", /* Privacy policy url */

"hashtag": "#tarteaucitron", /* Open the panel with this hashtag */
"cookieName": "tarteaucitron", /* Cookie name */

"orientation": "bottom", /* Banner position (top - bottom) */

"showAlertSmall": false, /* Show the small banner on bottom right */
"cookieslist": false, /* Show the cookie list */

"closePopup": false, /* Show a close X on the banner */

"showIcon": true, /* Show cookie icon to manage cookies */
"iconPosition": "BottomRight", /* BottomRight, BottomLeft, TopRight and TopLeft */

"adblocker": false, /* Show a Warning if an adblocker is detected */

"DenyAllCta": true, /* Show the deny all button */
"AcceptAllCta": true, /* Show the accept all button when highPrivacy on */
"highPrivacy": true, /* HIGHLY RECOMMANDED Disable auto consent */

"handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */

"removeCredit": false, /* Remove credit link */
"moreInfoLink": true, /* Show more info link */

"useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */
"useExternalJs": false,
/* If false, the tarteaucitron.js file will be loaded */

// "cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */

"readmoreLink": "", /* Change the default readmore link */

"mandatory": true, /* Show a message about mandatory cookies */
});

// GOOGLE ANALYTICS
tarteaucitron.user.gtagUa = 'G-GFBNGDENMX';
tarteaucitron.user.gtagMore = function () { /* add here your optionnal gtag() */
};
(tarteaucitron.job = tarteaucitron.job || []).push('gtag');
		</script>


		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Paytone+One&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Jost:wght@200;400;900&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link rel="icon" href="{{ asset('build/images/favicon.ico')}}"/>

		<script src="https://use.fontawesome.com/43fd22934f.js"></script>


		{% block stylesheets %}
			{{ encore_entry_link_tags('app')}}
		{% endblock %}

	</head>

	<body>

		{% include "/includes/flashes/_flash_message.html.twig" %}
		{% block body %}{% endblock %}


		{% block footer %}
			{% include "navbar/_footer.html.twig" %}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') | replace({'src=': 'defer src='}) | raw}}
		{% endblock %}
	</body>
</html>
