{% extends 'base.html.twig' %}

{% block title %}Edit Camera{% endblock %}

{% block body %}
    <h1>Edit Camera</h1>

    {{ include('camera/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('camera_index') }}">back to list</a>

    {{ include('camera/_delete_form.html.twig') }}
{% endblock %}
