{% extends 'base.html.twig' %}

{% block title %}New Camera{% endblock %}

{% block body %}
    <h1>Create new Camera</h1>

    {{ include('camera/_form.html.twig') }}

    <a href="{{ path('camera_index') }}">back to list</a>
{% endblock %}
