{% extends 'navbar/layout.html.twig' %}

{% block title %}Francecam | Conditions générales d'utilisation
{% endblock %}

{% block content %}
	<div class="container">
		<div class="cguContainer">
			<h1>Conditions générales d'utilisation</h1>
			<div class="cguContent">
				<h2>Éditeur</h2>
				<ul>
					<li>Yann Gendreau</li>
					<li>Siège: Samoreau – 77210 Seine-et-Marne</li>
					<li>
						<a href="{{path('contact')}}">Contact
						</a>
					</li>
				</ul>
			</div>
			<div class="cguContent">
				<h2>Informations sur l’hébergeur</h2>
				<ul>
					<li>Hébergeur : OVH SAS</li>
					<li>SIREN : 424761419</li>
					<li>Siège social : OVH, 2 RUE KELLERMANN 59100 ROUBAIX
					</li>
				</ul>
			</div>
			<div class="cguContent">
				<h2>Article 1 : Les mentions légales</h2>
				<h3>1.1 Activité</h3>
				<p>Le site Francecam fait référence des contenus culturels (cinéma et documentaires) et technologiques (caméras).</p>
				<br>
				<h3>1.2 Utilisation</h3>
				<p>L’Utilisateur peut consulter:</p>
				<br>
				<ul>
					<li>Une liste des films francophones ainsi que les informations les concernant (sortie, production, réalisation etc)</li>
					<li>Un panel de caméras (argentiques et numériques) et leurs caractéristiques techniques.</li>

				</ul>
				<br>
				<p>Il peut également intervenir à l’évolution du site en:</p>
				<br>
				<ul>
					<li>Ajoutant un nouveau film.</li>
					<li>Effectuant des modifications sur les informations sur un film.</li>
				</ul>
				<br>
				<p>Le cas échéant, l’utilisateur a également accès à :</p>
				<br>
				<ul>
					<li>une bande annonce ou un extrait d’un bien culturel.</li>
					<li>une vidéo technique de caméra (démo, test)</li>
				</ul>
				<br>
				<h3>1.3 Contribution</h3>
				<p>Les contributions de l’utilisateur (ajouts et modifications ) sont soumises à modération. L’administrateur du site se réserve le droit de refuser ou retirer toute insertion si :</p>
				<br>
				<ul>
					<li>les informations sont inexactes, incomplètes ou hors-sujet.</li>
					<li>la contribution comporte des propos pouvant attenter à l’intégrité de la personne (diffamations, menaces, propos racistes)</li>
					<li>la contribution ne correspond pas à la ligne éditoriale de Francecam (ajout de produits culturels autre que filmique ou documentaire, camera argentiques ou numériques. )</li>
				</ul>
				<br>
				<h3>1.4 Modalités financières</h3>
				<p>L’intégralité du site Francecam est disponible gratuitement. Aucun frais supplémentaire ne sera demandé dans le cas d’une contribution de l’Utilisateur à la base de données de films. L’Utilisateur ne peut également pas prétendre à une rémunération dans le cadre de sa participation à Francecam.</p>
			</div>
			<br>
			<div class="cguContent">
				<h2>Articles 2 Propriété intellectuelle</h2>
				<h3>2.1 Contenus</h3>
				<p>Les marques, logos ainsi que tous les contenus du site (textes, images, son…) font l’objet d’une protection par le Code de la propriété intellectuelle. Les affiches, description, images de caméras, sont la propriété de leurs ayants droit.</p>
				<br>
				<h3>2.2 Reproduction</h3>
				<p>Toute utilisation, reproduction totale ou partielle de Francecam, de son code ou de son contenu, doit est soumise à l’autorisation de l’exploitant du site. Toute utilisation du site a des fins commerciales, publicitaires ou de propagandes est rigoureusement interdite.</p>
			</div>
			<br>
			<div class="cguContent">
				<h2>Articles 3: Liens hypertextes</h2>
				<h3>3.1 Liens externes</h3>
				<p>Francecam offre la possibilité de visiter des pages web d’autres sites (Wiki, marques, constructeurs etc) grâce à des hyperliens. Si l’utilisateur utilise un lien, il sera redirigé vers un site tiers sur lequel l’administrateur de Francecam n’a aucune influence et ne peut donc être tenu responsable du contenu de ces pages.</p>
			</div>
			<br>
			<div class="cguContent">
				<h2>Article 4: Données personnelles</h2>
				<h3>4.1 Cookies</h3>
				<p>Un cookie et un témoin de connexion se présentant sous la forme d’un fichier texte de petite taille, envoyé par le serveur et stocké sur le terminal de l’Utilisateur. Il a pour fonction d’analyser  l’évolution de l’utilisateur sur les pages d’un site web et permet l’identification de session de l’internaute, s’il possède un compte, et donne des informations sur son état (exemples : panier, préférences).</p>
				<br>
				<h3>4.2 Acceptations</h3>
				<p>Lors de sa première visite, l’utilisateur est informé que des cookies peuvent être nécessaires au fonctionnement de l’application. Ceux-ci sont modifiables et effaçables à tout moment. L’utilisateur peut choisir de les accepter tous ou de ne sélectionner uniquement que les cookies qu’il juge utiles. Voir le site de la CNIL pour plus de renseignements.</p>
				<br>
				<h3>4.3 Commercial</h3>
				<p>Aucun cookie à caractère commercial n’est présent sur Francecam. Ils n’ont pour objet que les moyens d’un fonctionnement basique d’application web (référencement, statistiques et connexion)</p>
				<br>
				<h3>4.4 Validité</h3>
				<p>La durée de validité des cookies est d'un an (365 jours) après acceptation par l’internaute.</p>
			</div>
			<br>
			<div class="cguContent">
				<h2>Article 5: Compte</h2>
				<h3>5.1 Espace personnel</h3>
				<p>Bien qu’aucun compte ne soit requis pour pourvoir utiliser les services de Francecam, il est possible d’ouvrir un espace personnel. Au cours de la phase de d’enregistrement, il est demandé à l’utilisateur de fournir :</p>
				<ul>
					<li>un nom ou pseudonyme.</li>
					<li>une adresse e-mail valide.</li>
					<li>un mot de passe.</li>
				</ul>
				<br>
				<h3>5.2 Informations de l’utilisateur</h3>
				<p>Les informations utilisateur sont stockées dans la base de donnée du site de façon sécurisée. Le mot de passe est crypté et indéchiffrable par l’exploitant du site. Si l’utilisateur perd son mot de passe ou souhaite en changer, il est possible de le réinitialiser grâce à un formulaire.</p>
				<br>
				<h3>5.3 Droits de l’utilisateur</h3>
				<p>Conformément à la loi Informatique et Libertés du 6 janvier 1978, l’Utilisateur dispose d'un droit d'accès, de rectification, d'opposition et de suppression aux données personnelles le concernant. Contactez administrateur du site
					<a href="{{path('contact')}}">ici</a>.
				</p>
				<br>
				<p>Conformément à la réglementation en vigueur, votre demande doit être signée et accompagnée de la photocopie d'une pièce d'identité portant votre signature.
				</p>
				<p>Pour se désabonner de la newsletter, un lien de désabonnement est disponible dans la partie inférieure des e-mails.</p>
			</div>
			<br>
			<div class="cguContent">
				<h2>Article 6: Responsabilité de l’exploitant du site.</h2>
				<h3>6.1 Données du site</h3>
				<p>Francecam répertorie les œuvres audiovisuelles francophones et les caméras utilisées et se veut être une source fiable. Bien que les informations soient vérifiées et validées avant d’être affichées sur le site, elles peuvent potentiellement être incomplètes ou erronées. Les informations présentées sont indicatives et non-exhaustives, et ne revêtent aucunes valeurs contractuelles ni aucun caractère académique.
				</p>
				<br>
				<h3>6.2 Mise en conformité</h3>
				<p>Francecam ne saurait être tenu responsable de la modification de la législation survenue après la mise en ligne du site, mais s’engage à se mettre en conformité dans un délai de courte durée.
				</p>
				<br>
				<h3>6.3 Disponibilité des informations</h3>
				<p>Les informations concernant les biens culturels et les outils audiovisuels étant publiques et non soumises au secret (défense, secret industriel) Francecam ne peut être tenu responsable de l’utilisation de ces informations.
				</p>
				<br>
				<h3>6.4 Infection par un malware</h3>
				<p>Francecam ne pourrait être tenu responsable de l’éventuelle possibilité d’une infection du terminal de l’utilisateur par un logiciel espion (spyware) ou logiciel malveillant (malware) . Les dispositions prises coté serveur et une veille technique permanente, assure une sécurité globale et une utilisation sereine du site. Dans le cas d’une intrusion sur le serveur, Francecam prendra les mesures nécessaires pour prévenir ses utilisateurs et leur permettre de sécuriser leurs informations.
				</p>
				<br>
				<h3>6.5 Modération</h3>
				<p>L’exploitant du site Francecam ne saurait être tenu responsable si des propos diffamatoires, racistes ou pouvant attenter à la sécurité des personnes passent au travers du système de modération (par erreur ou brute force) mais s’engage, conformément à la législation, à les retirer dans un cours délai. Pour signaler de tels propos contactez l’administrateur.
				</p>
			</div>
		</div>
	</div>

{% endblock %}
