<form method="post" action="{{ path('marque_delete', {'slug': marque.slug}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
	<input type="hidden" name="_method" value="DELETE">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ marque.id) }}">
	<button class="btn">Delete</button>
</form>
