{% extends 'navbar/layout.html.twig' %}

{% block title %}
	Francecam |
	{{app.user.name}}, mon compte
		Francecam
{% endblock %}

{% block content %}
	<div class="container">
		<div id="profilePage">
			<div class="userTitre">
				<h1>Mon compte</h1>
			</div>
			<div class="userDesc">
				{% include "user/_profil.html.twig" %}
				{% include "user/_user_films.html.twig" %}
			</div>
		</div>
	</div>
{% endblock %}
